@mixin hoverBtn {
    background-color: $btnHoverColor;
}
@mixin hoverText {
    color: $navColorBorder;
}
@mixin buttons {
    margin: 10px 0 0 430px;
    text-transform: uppercase;
    background-color: $btnColor;
    padding: 10px 70px;
    color: $whiteColor;
    border: 0;
}

body {
    font-family: $fontsText;
    background: $bodyColor;
}

header {
    background: $backgroundImg no-repeat center; 
    background-size: 100%;	
    height: 100vh;
    text-transform: uppercase;
    color: $fontColor;
    
    .logo img {
        width: 15%;
    }
    
    nav {
        position:absolute;
        left: 550px;
        top: 20px;
        a {
            color: $navColor;
            padding: 10px 100px;
            text-decoration: none;
            border-right: 2px solid $navColorBorder;
            font-weight: 600;
            &:last-child {
                border: none;
            }
            &:hover {
                @include hoverText;
            }
        }
    }
        
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
        a {
            background-color: $btnColor;
            padding: 10px 50px;
            color: $whiteColor;
            text-decoration: none;
            &:hover {
                @include hoverBtn;
            }
        }
    }
}

main {
    margin: 20px 180px;
    .toolbar {
        text-align: right;
        input {
            border: $navColorBorder solid;
            border-width: thin;
            padding: 10px;
            background-color: $bodyColor;
            &::placeholder {
                padding: 10px;
                color: $textColor;
            }
        }
    }
    
    section {
        h1 {
            color: $textColor;
            text-align: right;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        article {
            display: flex;
            background-color: $mainBackgroundColor;
            padding: 10px;
            margin-bottom: 20px;
        }
        div {
            margin: 5px;
            .post-description {
                padding-bottom: 10px;
                padding-left: 5px;
                color: $dateColor;
                border-bottom: $navColorBorder solid;
                border-bottom-width: thin;
            }
            h3 {
                text-transform: uppercase;
                color: $titlesColor;
            }
            p {
                color: $textColor;
                margin-top: 0;
            }
            button {
                @include buttons;
                &:hover {
                    @include hoverBtn;
                }
            }
        }
        
    }
    
    .about {
        img {
            width: 100%;
        }
    }
    
    .contact-form {
        h1 {
            margin-top: 50px;
        }
        h4 {
            color: $textColor;
            text-transform: uppercase;
            text-align: right;
            margin-top: 0;
        }
        form {
            color: $titlesColor;
            text-align: right;
            .data {
                display: flex;
                justify-content: space-between;
            }
            label {
                display: flex;
                flex-direction: column;
                input {
                    border: $navColorBorder solid;
                    border-width: thin;
                    width: 460px;
                    height: 40px;
                    padding: 5px;
                    background-color: $bodyColor;
                }        
            }
            textarea {
                width: 100%;
                background-color: $bodyColor;
                border: $navColorBorder solid;
                border-width: thin;
            }
            button {
                margin-left: 700px;
                @include buttons;
                    &:hover {
                        @include hoverBtn;
                }
            }
        }
    }
}

footer {
    color: $textColor;
}
 