$backgroundImg: url(../img/header_background_v1.jpg);
$fontsText: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$fontColor: #eee;
$whiteColor: #fff;
$navColor: #fff;
$navColorBorder: #607D8B;
$btnColor: #01ACAC;
$btnHoverColor: #0D9F89;
$mainBackgroundColor: #EFEFEF;
$dateColor: red;
$titlesColor: #0097C0;
$textColor: #000;
$bodyColor: #fff;